### Latitude and Longitude of web3.0

In [1]:
import pandas as pd

# Create a dictionary of countries and their coordinates
countries = {
    "South Korea": [37.5665, 126.9780],
    "United Arab Emirates (UAE)": [23.4241, 53.8478],
    "Switzerland": [46.8182, 8.2275],
    "Estonia": [58.5953, 25.0136],
    "Canada": [56.1304, -106.3468],
    "Singapore": [1.3521, 103.8198],
    "Australia": [-25.2744, 133.7751],
    "UK": [55.3781, -3.4360],
    "Saudi Arabia": [23.8859, 45.0792],
    "USA": [37.0902, -95.7129]
}

In [2]:
# Convert the dictionary to a pandas dataframe and sort by the country name
df_country = pd.DataFrame.from_dict(countries, orient='index', \
                                    columns=['latitude', 'longitude']).sort_index()

# Add a new column 'Country' with the index values
df_country.reset_index(inplace=True)
df_country.rename(columns={'index':'Country'}, inplace=True)

df_country

                      Country  latitude  longitude
0                   Australia  -25.2744   133.7751
1                      Canada   56.1304  -106.3468
2                     Estonia   58.5953    25.0136
3                Saudi Arabia   23.8859    45.0792
4                   Singapore    1.3521   103.8198
5                 South Korea   37.5665   126.9780
6                 Switzerland   46.8182     8.2275
7                          UK   55.3781    -3.4360
8                         USA   37.0902   -95.7129
9  United Arab Emirates (UAE)   23.4241    53.8478

In [3]:
df_country.to_csv('lat_long.csv',index=False)